issuer-secret.yaml
lldap-postgres-secret.yaml
lldap-pgdb-credentials.yaml
lldap-credentials.yaml
postgres-admin-secret.yaml

*secret*
!*external-secret*
!*template-secret*
!*push-secret*
!*ca-secret*
# Ignore SQLite files
docker/s3b-prod-d1/garage/meta/db.sqlite
docker/s3b-prod-d1/garage/meta/db.sqlite-shm
docker/s3b-prod-d1/garage/meta/db.sqlite-wal
